/*-- Fonts --*/

.menu-text {
    color: #8611ad;
    font-weight: 600;
    font-family: 'Crimson Text', serif;
}

.menu-text>li>a {
    color: #8611ad;
    font-weight: 600;
    font-family: 'Crimson Text', serif;
}

.menu-text>a {
    color: #8611ad;
    font-weight: 600;
    font-family: 'Crimson Text', serif;
}

/*-- Background --*/

.image-banner-container {
    background: url('/media/yoga-banner.jpg') no-repeat center center;
    background-size: cover;
    height: 25vh;
}

/*-- Badges --*/

a.category-badge > span.badge:hover {
    background: #8611ad !important;
    color: #ffc107 !important;
}

.current-categories {
    font-size: 0.8rem;
    padding: 0.5em;
}

/*-- Product images --*/

.product-main {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

.product-detail {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

/*-- Page breaks --*/

hr.breaker {
    border: 0 none;
    border-radius: 50%;
    height: 0.5rem;
    color: #ffc107;
    background-color: #ffc107;
}

/*-- Media Queries --*/

@media (max-width: 576px) {
    .nav-splitter {
        padding: 0 1.0rem;
        font-size: 0.9rem;
    }
}