.image-banner-container {
    background: url('/media/yoga-banner.jpg') no-repeat center center;
    background-size: cover;
    height: 35vh;
}

/*-- Media Queries --*/

@media (max-width: 576px) {
    .nav-splitter {
        padding: 0.5rem 2rem;
    }
}